* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}


/* hero_section  */


.hero__section {
    background-image: url("./images/heroSectionBackground.png");
    min-height: 60vh;
    background-position: center;
    background-size: cover;
    color:white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 15px 45px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar__menu_container {
    display: flex;
    gap: 20px;
}

.navbar__menu_container .user__icon {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    display:none;
}
.hero__section_container
{
     display:flex;
     flex-direction:column;
     align-items: center;
     justify-content: center;
     gap:32px;
     height:calc(60vh,60px);
}
.hero__section_logo
{
    width:200px;
    /* width:auto; */
}

.hero__section_title
{
    text-align: center;
    font-size:25px;
    font-weight:400;
}
.hero__section_input_container
{
   padding:10px;
   display:flex;
   align-items:center;
   justify-content: center;
   gap:10px;
   border-radius:10px;
   width:50%;
   background-color:white;
}
.input_container_location,.input_container_search
{
    border:none;
    padding:6px;
    outline:none;
    border-radius:15px;
    width:96%;

}
.input_container_location
{
    width:35%;
    border-right:2px solid gray;
}
.input_container_search
{
    width: 60%;
}

/* container__we_offer section  */


.container__we_offer
{
    margin:3rem auto;
    width:90%;
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
    align-items: center;
    justify-content: center;
}
.we__offer_card
{
   border-radius:10px;
   overflow:hidden;
   width:300px;
   border:1px solid grey;
   /* animation  */
   transition: all 0.4s ease;
}
.we__offer_card:hover
{
    transform: scale(1.05);
    cursor:pointer;
}
.we__offer_card img
{
    width:100%;
    height:190px;
    object-fit: cover;
    object-position: center;
}
.we__offer_content
{
    padding:10px;
}
.we__offer_content h2
{
    font-size:20px;
    font-weight:400;
}
.we__offer_content p
{
    font-size:12px;
}

/* container collections section  */
.collections h1
{
    font-weight:500;
    margin-left:14%;
}
.collections .sub__heading_container
{
   font-size:15px;
   display:flex;
   align-items:center;
   justify-content: space-around;
   flex-wrap:wrap;
   gap:1rem;
}
.sub__heading_container span:nth-child(2)
{
    color:#ff7eb8;
    font-size:13px;
    cursor:pointer;
}
.collections__card_container
{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-wrap:wrap;
    gap:1rem;
    margin-top:1.5rem;
}
.collections__card_container .card 
{
      height:300px;
      min-width:240px;
      background-position:center;
      background-size: cover;
      border-radius:10px;
      position: relative;
}
.card1
{
    background-image:url("./images/collection1.jpg");
}
.card2
{
    background-image: url("./images/collection2.jpg");
}
.card3
{
    background-image: url("./images/collection3.jpg");
}
.card4
{
    background-image: url("./images/collection4.jpg");
}
.overlay
{   
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    border-radius:10px;
    top:0;
    background-image:linear-gradient(
     0deg,
     rgba(0,0,0,0.8) 0%,
     rgba(0,0,0,0.05) 50%,
     rgba(0,0,0,0.05)85%
     /* rgba(0,0,0,0)100% */
    );
    z-index:5;
}
.collections__card_container .card .content 
{
     position:absolute;
     left:0;
     bottom:0;
     color:white;
     padding:12px 16px;
     font-size:0.8rem;
     z-index:10;
}
.content h4
{
    font-weight:400;
    letter-spacing:0.5px;
}






















@media only screen and (max-width:500px)
{
    .navbar__menu_container .user__icon
    {
          display:flex;
    }
    .link
    {
        display:none;
    }
    .hero__section
    {
        min-height:80vh;
    }
    .navbar
    {
        padding:16px;
    }
    .hero__section_input_container
    {
        flex-direction:column;
        background-color: transparent;
        width:100%;
        height:calc(80vh-60px);
    }
   .input_container_search,.input_container_location
   {
    padding:15px;
    border-radius:10px;
    width:95%;
   }
   .hero__section_title
   {
      font-size:20px;
      width:95%;
   }
}
